.DS_Store
.Python
.venv
env/
build/
.eggs/
*.egg-info/
*.egg
/dist
*.pyc
*.iws
*.zip
workspace.xml
tasks.xml
/.idea
.ipynb_checkpoints
.openai-api-key
.anthropic-api-key
.langsmith-secret-key
.earnings-call-api-key
sentiment-data.csv